<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dlv4119.practiceapp">

    <!--WiFiの状態を参照する-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--WiFiの状態を変更する-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!--Bluetoothによる通信を許可する-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--Bluetoothの設定変更を許可する-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Bluetooth LE に対応していることを証明する-->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <!--vibrationの許可-->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
